html{
	color:#000;
	background:#FFF;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,
h4,h5,h6,pre,code,form,fieldset,legend,input,
textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,
img {
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,
h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,
q:after {
	content:'';
}
abbr,
acronym {
	border:0;
	font-variant:normal;
}
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
input,
textarea,
select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	*font-size:100%;
}
legend {
	color:#000;	
}

/*////////////////////////////////*/
*{
	box-sizing: border-box;
}

body{
	font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	position: relative;
	min-height: auto;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

.backg_img{
	background-image: url(../post_fool.jpg);
	background-position: center top;
	background-repeat: no-repeat;
}


.container{
	max-width: 1170px;
	margin: 0 auto;
	overflow: hidden;
}


h2{
	display: block;
	font-size: 26px;
	color: #3b3a52;
	font-weight: 600;
	text-align: center;
	margin-bottom: 2%;
}

.after_h2{
	width: 45%;
	font-size: 14px;
	line-height: 24px;
	color: #3b3a52;
	font-weight: 500;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
@media screen and (max-width:768px){
	.after_h2{
		width: 80%;
	}
	@media screen and (max-width:426px){
		.after_h2{
			width: 90%;
		}
	}
}

.bt{
	display: block;
	width: 160px;
	height: 56px;
	border: 1px #4cb677 solid;
	border-radius: 4px;
	background-color: #4cb677;
	color: #FFF;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	padding-top: 20px;
	transition: color .5s, background-color .5s, border .5s linear;
}


.bt:hover{
	background-color: rgb(255, 255, 255);
	border:1px  #4cb677 solid;
	border-radius: 4px;
	color: #4cb677;
}
/*/header/////////////////////////////////////////////////*/
header{
	position: relative;
	width: 100%;
	top: 0;
	padding-top: 1.4%;
	padding-bottom: 1.4%;
}

.home_header,
.contact_us_header{
	position: absolute;
}

.header{
	display: flex;
	align-items: center;
}

.logo{
	color: #3b3a52;
	font-size: 22px;
	font-weight: 700;
}

.home_logo{
	color: #fff;
}

.home_nav a{
	color: #fff;
}

nav{
	width: 40%;
	margin-left: 21.1%;
}

ul{
	display: block;
}

li{
	display: inline;
	margin-right: 8%;
}

ul li:last-child{
	margin-right: 0%;
}

nav a{
	font-size: 12px;
	font-weight: 600;
	color: #3b3a52;
	text-transform: uppercase;
	transition: color .3s linear;
}

nav a:hover,
.activ{
	color: #57ce87;
	position: relative;
}

.search{
	width: 0px;
	height: 56px;
	position: absolute;
	right: 36.4%;
	top: 27%;
	padding-left: 20px;
	z-index: 10;
	transition: 1s;
}

.search_button_black{
	display: block;
	position: absolute;
	top: 30%;
	right: 10%;
	z-index: 20;
}

.search_button_home{
	filter: invert(100%);
}

.search_text{
	font-size: 14px;
	color: #3b3a52;
	font-weight: 500;
	background: none;
	border: none;
	outline: none;
	width: 0px;
	height: 50px;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.search:hover{
	width: 360px;
	border-radius: 4px;
	background-color: #fff;
	border: 2px solid #ceced4;
}

.search:hover .search_button_home{
	filter: invert(0);
}

.search:hover .search_button_black{
	display: block;
}

.search:hover .search_text{
	width: 260px;
}

.header .bt{
	margin-left: 19%;
}

@media screen and (max-width:1700px){
	.search{
		right: 33.5%;
	}
	@media screen and (max-width:1440px){
		.search{
			right: 30%;
		}
	}
	@media screen and (max-width:1024px){
		.header .bt{
			display: none;
		}
		.logo{
			margin-left: 2%;
		}
		nav{
			width: 50%;
		}
		.search{
			right: 2%;
			top: 10%;
		}
	}
}
/*/showcase///////////////////////////////////*/
.showcase{
	width: 100%;
	background-image: url(../img/home/background/bkg-img.png);
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	font-size: 72px;
	color: #FFF;
	font-weight: 600;
	line-height: 100px;
	width: 80%;
	padding-top: 30.5%;
	padding-bottom: 23.4%;
}

@media screen and (max-width:1024px){
	h1{
		width: 90%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	@media screen and (max-width:768px){
		h1{
			font-size: 60px;
			line-height: 89px;
		}
	}
	@media screen and (max-width:426px){
		h1{
			font-size: 45px;
			line-height: 55px;
		}
	}
	@media screen and (max-width:320px){
		h1{
			font-size: 35px;
			line-height: 45px;
		}
	}
}

.showcase img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3.3%;
}
/*/our_story//////////////////////////////*/
.our_story{
	padding-bottom: 5%;
}

.our_story img{
	float: right;
	margin-top: 10%;
}

.our_story h2{
	text-align: left;
	margin-top: 19.5%;
	margin-bottom: 5.5%;
}

.our_story p{
	width: 45%;
	font-size: 16px;
	line-height: 32px;
	color: #3b3a52;
	font-weight: 400;
	margin-bottom: 7%;
}
@media screen and (max-width:1024px){
	.our_story{
		padding-left: 2%;
	}
	.our_story p{
		width: 60%;
		padding-right: 2%;
	}
	.our_story img{
		width: 40%;
	}
	.our_story a{
		padding-left: 4%;
	}
	@media screen and (max-width:426px){
		.our_story h2{
			text-align: center;
		}
		.our_story img{
			display: none;
		}
		.our_story{
			padding-bottom: 12%;
			padding-left: 0%;
			text-align: center;
		}
		.our_story p{
			width: 90%;	
			padding-right: 0%;
			margin-left: auto;
			margin-right: auto;
		}
		.our_story a{
			padding-left: 0%;
			margin-left: auto;
			margin-right: auto;
		}
		.our_story{
			padding-bottom: 15%;
		}
	}
}

.our_story a{
	position: relative;
	font-size: 12px;
	letter-spacing: 0px;
	color: #4cb677;
	font-weight: 500;
	text-transform: uppercase;
	transition: padding-right .3s, font-size .3s linear;
}

.our_story a::after{
	content: '';
	display: block;
	border-right: 1px #4cb677 solid;
	border-top: 1px #4cb677 solid;
	width: 5px;
	height: 5px;
	position: absolute;
	right: -25px;
	top: 5px;
	transform: rotate( 45deg);
}

.our_story a:hover{
	padding-right: 30px;
	font-size: 13px;
}


/*why_us/////////////////////////////*/
.why_us{
	padding-top: 4.6%;
	padding-bottom: 4.6%;
	background-color: #f6f6f9;
}

.box_why_us{
	margin-top: 13.2%;
	display: flex;
	text-align: center;
}

.img_before::before,
.img_before_2::before,
.img_before_3::before{
	content: '';
	display: block;
	position: absolute;
	top: -160px;
	left:30%;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background-color: #edf3f2;
	background-image: url(../img/home/ikons/1.png);
	background-position: center;
	background-repeat: no-repeat;
	opacity: 50%;
}

.img_before_2::before{
	background-image: url(../img/home/ikons/2.png);
}

.img_before_3::before{
	background-image: url(../img/home/ikons/3.png);
}

.box_why_little p:first-child{
	font-size: 14px;
	margin-top: 19%;
	margin-bottom: 4%;
	color: #252837;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
}

.box_why_little p{
	width: 80%;
	font-size: 14px;
	line-height: 24px;
	color: #252837;
	font-weight: 400;
	margin-left: auto;
	margin-right: auto;
}
@media screen and (max-width:768px){
	.box_why_us{
		flex-wrap: wrap;
	}
	.img_before::before,
	.img_before_2::before,
	.img_before_3::before{
		left: 35%;
		top: -140px;
	}
	.box_why_little{
		margin-bottom: 5%;
	}
	.box_why_little p{
		width: 55%;
	}
	@media screen and (max-width:426px){
		.why_us .after_h2{
			margin-bottom: 20%;
		}
		.box_why_little{
			margin-bottom: 30%;
		}
		.why_us .box_why_little:last-child{
			margin-bottom: 15%;
		}
		.img_before::before,
		.img_before_2::before,
		.img_before_3::before{
			left: 33%;
		}
		
		.box_why_little p{
			width: 90%;
		}
	}
	@media screen and (max-width:375px){
		.why_us .after_h2{
			margin-bottom: 30%;
		}
		.img_before::before,
		.img_before_2::before,
		.img_before_3::before{
			left: 30%;
		}
	}
}
/*news///////////////////////////////*/
.news{
	padding-top: 5%;
	padding-bottom: 3%;
}

.news a{
	color: #FFF;
	font-weight: 600;
}

.box_news{
	margin-top: 8.6%;
}

.box_little_bigger{
	overflow: hidden;
	position: relative;
	border-radius: 4px;
	background-color: #cf0b77;
	width: /*570px*/ 48.6%;
	height: 599px;
	float: left;
	background-image: url(../img/home/news/1.png);
	font-size: 32px;
	line-height: 48px;
	padding-top: 30%;
	
}

.hover_news{
	position: absolute;
	top: -100%;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 1;
	padding-top: 15%;
	padding-left: 16%;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.box_little{
	overflow: hidden;
	position: relative;
	border-radius: 4px;
	background-color: #3b3a52;
	width: /*570px*/ 48.8%;
	height: 281px;
	float: right;
	margin-bottom: 3%;
	font-size: 22px;
	line-height: 30px;
	padding-top: 6.6%;
	transition: padding-top .5s linear;
}

.box_news_img{
	background-image: url(../img/home/news/2.png);
}

.hover_news_smole{
	position: absolute;
	top: -36%;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 1;
	padding-top: 5%;
	padding-left: 16%;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.box_little_bigger:hover .hover_news,
.box_little:hover .hover_news_smole{
	opacity: 1;
	top: 0;
}

.box_little:hover{
	padding-top: 9%; 
}

.deit{
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 2%;
}

.box_little .deit{
	margin-bottom: 5%;
}

.box_little_bigger p, .box_little p{
	width: 70%;
	margin-left: 16%
}
@media screen and (max-width:768px){
	.box_little_bigger{
		width: 60%;
		float: none;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3%;
	}
	.box_little{
		float: none;
		margin-left: auto;
		margin-right: auto;
		width: 60%;
		padding-top: 10%;
	}
	.box_little:hover{
		padding-top: 15%; 
	}
	@media screen and (max-width:426px){
		.news{
			padding-bottom: 13%;
		}
		.box_little_bigger p, .box_little p{
			width: 90%;
			margin-left: 0%;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
		.box_little_bigger{
			width: 90%;
			height: 500px;
			padding-top: 55%;
		}
		.box_little{
			width: 90%;
			padding-top: 25%; 
		}
		.hover_news{
			padding-left: 42%
		}
		.hover_news_smole{
			top: -36%;
			padding-top: 7%;
			padding-left: 42%
		}
		.box_little:hover{
			padding-top: 25%; 
		}	
	}
	@media screen and (max-width:320px){
		.hover_news_smole{
			padding-left: 40%
		}
		.box_little:hover{
			padding-top: 30%; 
		}
	}
}

/*work/////////////////////////////////////////*/
.work{
	padding-top: 5.2%;
	padding-bottom: 5.6%;
	background-color: #21a657;
	color: #FFF;
	margin-bottom: 6%;
}

.box_work{
	display: flex;
	text-align: center;
}

.box_work_little{
	width: 33%;
	font-size: 72px;
	font-weight: 500;
}

.box_work_little p:last-child{
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 15%;
}
@media screen and (max-width:768px){
	.box_work{
		flex-wrap: wrap;
	}
	.box_work_little{
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
	.box_work_little p:last-child{
		margin-top: 3%;
		margin-bottom: 10%;
	}
	.box_work_little:last-child p:last-child{
		margin-bottom: 1%;
	}
	@media screen and (max-width:426px){
		.box_work_little{
			font-size: 50px;
		}
	}
}

/*our_fans/////////////////////////////////*/
.our_fans{
	padding-bottom: 4.1%;
}

.box_ourfans{
	display: flex;
	flex-wrap: wrap;
	width: 78%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 6%;
}

.box_ourfans_little{
	position: relative;
	margin-bottom: 3.3%;
}

.box_ourfans_little p{
	color: #252837;
	width: 75%;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 30px 40px;
	border-radius: 4px;
	background-color: #f2f2f5;
}

.box_ourfans .box_ourfans_little:nth-child(even) img{
	position: absolute;
	right: 0;
	top: 0;
}

.box_ourfans .box_ourfans_little:nth-child(odd) img{
	position: absolute;
	left: 0;
	top: 0;
}
@media screen and (max-width:768px){
	.box_ourfans .box_ourfans_little:nth-child(even) img,
	.box_ourfans .box_ourfans_little:nth-child(odd) img{
		position: static;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.box_ourfans_little p{
		width: 100%;
		text-align: center;
		margin-top: 5%;
		margin-bottom: 6%;
	}
	.box_ourfans{
		width: 90%;
	}
	@media screen and (max-width:426px){
		.box_ourfans{
			width: 100%;
			margin-top: 11%;
		}
		.box_ourfans_little p{
			margin-top: 8%;
		}
	}
}

/*do_whants_valuable/////////////////////////*/
.do_whants_valuable{
	background-color: aqua;
	background-image: url(../img/home/background/bkg-img_2.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 6.7%;
	padding-bottom: 7%;
}

.do_whants_valuable h2, .do_whants_valuable .after_h2{
	color: #FFF;
	text-align: left;
	margin-left: 0;
}

.do_whants_valuable .after_h2{
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
	width: 59%;
	margin-top: 3.5%;
}

.do_whants_valuable .bt{
	float: right;
	margin-top: -8%;
}


@media screen and (max-width:1024px){
	.do_whants_valuable h2, .do_whants_valuable .after_h2{
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		width: 60%;
	}
	.do_whants_valuable .bt{
		float: none;
		margin-left: auto;
		margin-right: auto;
		margin-top: 3%;
	}
	@media screen and (max-width:426px){
		.do_whants_valuable h2, .do_whants_valuable .after_h2{
			width: 90%;
		}
	}
}
/*//////////////////////*/
.box_teams{
	display: flex;
	flex-wrap: wrap;
	margin-top: 9.5%;
}

.box_teams_little{
	width: 23%;
	margin-right: 2.6%;
	margin-bottom: 2.3%;
	position: relative;
}

.box_teams_little img{
	border-radius: 4px;
	width: 100%;
	height: 100%;
}

.box_teams .box_teams_little:nth-child(4n){
	margin-right:0;
}

.box_hover_teams{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	overflow: hidden;
	background-color: #152542d2;
	border-radius: 4px;
	color: #FFF;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	padding-top: 15%;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.box_hover_teams p:last-child{
	font-weight: 400;
}

.box_teams_little:hover .box_hover_teams{
	opacity: 1;
	padding-top: 45%;
}
@media screen and (max-width:768px){
	.box_teams_little{
		width: 40%;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 5%;
	}
	.box_teams .box_teams_little:nth-child(4n){
		margin-right: auto;
	}
	.box_teams_little:active .box_hover_teams{
		opacity: 1;
		padding-top: 45%;
	}
	@media screen and (max-width:375px){
		.box_teams_little{
			width: 65%;
		}
	}
}

/*/!!----questions_and_answers----!!/////////////////////////////////////////////////
/////////////////////////////////////////////////////////*/
.questions_and_answers{
	margin-top: 4.6%;
}

.accordion{
	width: 58.5%;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5.5%;
	border: none;
}

.accordion-item{
	cursor: pointer;
	margin-bottom: 17px;
}

.accordion-item-trigger{
	color: #070623;
	font-size: 18px;
	font-weight: 600;
	text-align: left;
	padding-left: 40px;
	padding-top: 6%;
	padding-bottom: 6%;
	background-color: #f6f6f9;
	border-radius: 4px;
}

.accordion-item-trigger::after{
	content: '\2573';
	background-color: transparent;
	font-size: 15px;
	float: right;
	padding-top: 3%;
	padding-right: 45px;
	transform: rotateZ(45deg);
	transition: all .3s linear;
}

.accordion-item--active .accordion-item-trigger::after{
	transform: none;
	padding-top: 0;
}

.accordion-item--active .accordion-item-trigger{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.accordion-item--active .accordion-item-content{
	display: block;
	background-color: #f6f6f9;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.accordion-item-content{
	padding: 0 43px 30px;
	font-size: 16px;
	line-height: 32px;
	color: #3b3a52;
	font-weight: 400;
	display: none;
}

@media screen and (max-width:1024px){
	.accordion{
		width: 80%;
	}
	@media screen and (max-width:768px){
		.accordion{
			width: 100%;
		}
	}
	@media screen and (max-width:426px){
		.accordion-item-trigger{
			padding-left: 0;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
		.accordion-item-trigger::after{
			padding-right: 0;
			display: block;
			float: none;
			margin-left: auto;
			margin-right: auto;

		}
	}
}
/*our_partners//////////////////////////////////*/
.our_partners{
	margin-top: 6.5%;
	margin-bottom: 5%;
}

.box_logos{
	margin-top: 6%;
	display: flex;
	width: 100%;
	align-items: center;
}

.lobos_little{
	margin-left: auto;
	margin-right: auto;
	opacity: 25%;
	transition: opacity .2s linear;
}
@media screen and (max-width:1024px){
	.box_logos{
		width:70%;
		flex-wrap: wrap;
		margin-left: auto;
		margin-right: auto;

	}
	.lobos_little{
		margin-bottom: 5%;
		width: 27%;
		opacity: 25%;
	}
	@media screen and (max-width:768px){
		.box_logos{
			width: 90%;
		}
	}
	@media screen and (max-width:570px){
		.box_logos{
			width:90%;
		}	
		.lobos_little{
			width: 50%;
			text-align: center;
			margin-bottom: 8%;
			opacity: 25%;
		}
	}
	@media screen and (max-width:375px){
		.lobos_little{
			width: 100%;
			margin-bottom: 6%;
			margin-top: 6%;
			opacity: 25%;
		}
	}
}

.lobos_little:hover{
	opacity: 100%;
}
.lobos_little:focus{
	opacity: 100%;
}

.lobos_little:active{
	opacity: 100%;
}
/*/join_our_newsletter//////////////////////////////*/
.join_our_newsletter{
	padding-top: 4%;
	padding-bottom: 4%;
	text-align: center;
	background-color: #f6f6f9;
}

.tit_news{
	font-size: 28px;
	letter-spacing: 3px;
	color: #070623;
	font-weight: 500;
	text-transform: uppercase;
	opacity: 50%;
	margin-top: 6%;
}

.join_our_newsletter a{
	display: block;
	font-size: 12px;
	letter-spacing: 1px;
	color: #47859f;
	font-weight: 700;
	margin-top: 1.5%;
}


@media screen and (max-width:768px){
	.join_our_newsletter{
		padding-bottom: 10%;
	}
	@media screen and (max-width:426px){
		.join_our_newsletter{
			padding-bottom: 15%;
		}
		.tit_news{
			margin-top: 20%;
		}
		.join_our_newsletter a{
			margin-top: 10%;
		}
	}
}
/*footer/////////////////////////////////*/
footer{
	padding-top: 4.2%;
}

.box_footer{
	display: flex;
	width: 100%;
	align-items: flex-start;
}

.box_footer_little{
	width: 17%;
	display: flex;
	flex-direction: column;
}

.box_footer_little p{
	font-size: 12px;
	letter-spacing: 1px;
	color: #070623;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15%;
}

.box_footer_little a{
	font-size: 14px;
	line-height: 26px;
	color: #070623;
	font-weight: 500;
	margin-bottom: 5%;
	transition: color .3s linear;
}

.box_footer_little a:hover{
	color: #4ab577;
}

.box_footer .box_footer_little:last-child{
	width: 32%;
	margin-left: 20%;
}

.box_footer .box_footer_little:last-child p{
	margin-bottom: 10%;
}

footer form{
	border-radius: 4px;
	padding: 5px 5px 5px 17px;
	border: 2px #ebebed solid;
	width: 100%;
	transition: border .3s linear;
}

footer form:hover{
	border: 2px #3b3a52 solid;
}

footer input{
	font-size: 14px;
	outline: none;
	width: 60%;
	height: 44px;
	background-color: transparent;
	border: none;
}

footer button{
	background-color: #4ab577;
	border-radius: 4px;
	height: 44px;
	width: 40%;
	border: none;
	color: #fff;
	font-size: 14px;
	letter-spacing: 0px;
	font-weight: 500;
	float: right;
	outline: none;
	transition: color .3s, box-shadow .3s, background-color .3s linear;
}

footer button:hover{
	color: #3b3a52;
	box-shadow: inset 0 0 0 2px #3b3a52;
	background-color: #ffffff;
}

/*/////////////////////////////////////*/
.box_footer_2{
	margin-top: 7%;
	margin-bottom: 4%;
	position: relative;
	display: flex;
	text-align: center;
}

.box_footer_2::before{
	position: absolute;
	top: -200%;
	content: '';
	display: block;
	background: #f2f2f5;
	width: 100%;
	height: 2px;
}

.box_footer_2 p {
	font-size: 14px;
	line-height: 26px;
	color: #838291;
}

.box_soc_ikons{
	width: 16%;
	position: absolute;
	right: 0.6%;
}

.befor-1::before,
.befor-2::before,
.befor-3::before{
	content: '';
	display: block;
	width: 49px;
	height: 49px;
	border-radius: 50%;
	background-color: #f6f6f9;
	position: absolute;
	top: -20px;
	left: -18px;
	z-index: -5;
}

.befor-2::before{
	left: -16px;
}

.befor-3::before{
	left: -15px;
}

.box_soc_ikons a{
	z-index: 20;
	position: relative;
	margin-left: 20%;
}

@media screen and (max-width:1024px){
	footer{
		padding-right: 2%;
		padding-left: 2%;
	}
	@media screen and (max-width:768px){
		.box_footer{
			flex-wrap: wrap;
			text-align: center;
		}
		.box_footer_little{
			width:33%;
			order: 2;
		}
		.box_footer .box_footer_little:last-child{
			margin-left: 0%;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 10%;
			width: 75%;
			order: 1;
		}
		.box_footer_2{
			flex-direction: column;
		}
		.box_footer_2 p{
			text-align: center;
		}
		.box_soc_ikons{
			position: static;
			margin-top: 5%;
			margin-left: auto;
			margin-right: auto;
			width: 100%;
		}
		.box_soc_ikons a:first-child{
			margin-left: 0%;
		}
		.box_footer_2::before{
			top: -40%;
		}
	}
	@media screen and (max-width:426px){
		.box_footer .box_footer_little:last-child{
			width: 100%;
		}
		.box_footer_2::before{
			top: -30%;
		}
	}
	@media screen and (max-width:320px){
		.box_footer_little{
			width: 100%;
		}
		.box_footer_little p{
			margin-top: 13%;
			margin-bottom: 7%;
		}
	}
}


/*//button-to-top/////////////////////////////////**/
.button-to-top{
	position: fixed;
	right: 40px;
	bottom: 35px;
	width: 40px;
	height: 40px;
	background-image: url(../img/home/button_to_top.png);
	background-repeat: no-repeat;
	background-position: center;
	opacity: 40%;
	transition: .3s;
	display: none;
}

.button-to-top:hover,
.button-to-top:focus{
	opacity: 100%;
}
@media screen and (max-width:1024px){
	.button-to-top{
		visibility: hidden;
	}
}



/*/!!!!!!-----EROR_PAGE-----!!!!!!//////
//////////////////////////////////////////////////*/
.eror_404{
	padding-top: 10.6%;
	padding-bottom: 9.6%;
	text-align: center;
	background-image: url(../img/eror/404.png);
	background-position: center top 30%;
	background-repeat: no-repeat;
	background-size: 60%;
}


.eror_404 p:first-child{
	color: #070623;
	font-size: 32px;
	letter-spacing: 3px;
	font-weight: 600;
	text-transform: uppercase;
}

.eror_404 p:nth-child(2){
	color: #070623;
	font-size: 18px;
	line-height: 36px;
	font-weight: 400;
	width: 59%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3.5%;
}

.link_Home{
	display: block;
	width: 15%;
	font-size: 12px;
	letter-spacing: 1px;
	color: #47859f;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 6.5%;
	margin-left: auto;
	margin-right: auto;
	transition: color .5s linear;
}

.link_Home:hover{
	color:#4cb677;
}

.search_01{
	position: relative;
    display: block;
	background-color: #ffffff;
	width: 360px;
    height: 56px;
    border-radius: 4px;
	border: 2px solid #ceced4;
	margin-left: auto;
	margin-right: auto;
	margin-top: 13.3%;
}

.search_text_01{
	background: none;
    border: none;
	outline: none;
	position: absolute;
	left: 4%;
	width: 280px;
	height: 50px;font-size: 14px;
	color: #3b3a52;
	font-weight: 500;
	font-size: 14px;
}

.search_button_black_01{
	position: absolute;
    right: 6%;
    top: 32%;
}

@media screen and (max-width:1000px){
	.link_Home{
		width: 30%;
	}
	@media screen and (max-width:500px){
		.eror_404 p:first-child{
			font-size: 27px;
		}
		.eror_404 p:nth-child(2){
			width: 90%;
		}
		.link_Home{
			width: 40%;
		}
	}
	@media screen and (max-width:426px){
		.eror_404{
			padding-bottom: 15%;
			padding-top: 18%;
			background-size: 90%;
		}
		.search_01{
			width: 80%;
		}
		.search_text_01{
			width: 80%;
		}
	}
	@media screen and (max-width:375px){
		.link_Home{
			width: 50%;
		}
	}
}


/*/!!!!!!-----BLOG_PAGE-----!!!!!!//////
//////////////////////////////////////////////////*/
.blog{
	padding-top: 2.87%;
	padding-bottom: 3.5%;
}

.titel_02{
	color:#3b3a52;
	font-weight: 700;
	font-size: 32px;
	letter-spacing: 3px;
	text-align: center;
	text-transform: uppercase;
}

/*/////////////////////////////////////*/
.slick-list {
	overflow: hidden;
}
.slick-track{
	display: flex;
	align-items: flex-start;
}
.slider{
	position: relative;
}
.slick-dots{
	text-align: center;
	margin-top: 1.3%;
	background-color: #f2f2f5;
	height: 81px;
	width: 100%;
	z-index: -10;
	padding-top: 30px;
}
li button{
	color: #3b3a52;
	font-size: 16px;
	font-weight: 600;
	border: none;
	outline: none;
	cursor: pointer;
	opacity: 30%;
	width: 1%;
	background: none;
	font-family: 'Montserrat';
}
.slick-active button{
	opacity: 100%;
}

.slick-arrow{
	position: absolute;
	bottom: 0%;
	background-color: transparent;
	font-size: 0;
	border: 0;
	width: 80px;
	height: 81px;
	outline: none;
	cursor: pointer;
	z-index: 20;
}
.slick-arrow.slick-prev{
	left: 0%;
	background-image: url(../img/blog/left.png);
	background-position: center;
	background-repeat: no-repeat;
}
.slick-arrow.slick-next{
	right: 0;
	background-image: url(../img/blog/right.png);
	background-position: center;
	background-repeat: no-repeat;
}

/*/////////////////////////////////////////////////////*/


.blog .box_news{
	margin-top: 10%;
	width: 100%;
}

.blog .box_news a{
	outline: none;
}

.blog .box_little_bigger{
	width: 49%;
	margin-bottom: 3%;
	padding-top: 0;
	position: relative;
	background-size: cover;
}
.B02{
	background-image: none;
	background-color: #3b3a52;
	margin-left: 2%;
}
.B03{
	background-image: url(../img/blog/2.png);
	margin-right: 2%;
}
.B04{
	background-image: url(../img/blog/3.png);
}
.B05{
	background-image: none;
	background-color: #3b3a52;
	margin-right: 2%;
}
.B06{
	background-image: url(../img/blog/4.png);
}
.B07{
	background-image: url(../img/blog/5.png);
	margin-right: 2%;
}
.B08{
	background-image: url(../img/blog/6.png);
}


.lit{
	position: absolute;
	bottom: 103px;
	right: 0;
	left: 0;
}

.blog .box_little_bigger p{
	color: #fff;
	font-weight: 600;
}

.blog .deit{
	color: #fff;
	opacity: 60%;
	font-size: 12px;
}

@media screen and (max-width:1024px){
	.blog{
		padding-top: 8%;
	}
}
@media screen and (max-width:768px){
	.titel_02{
		font-size: 22px;

	}
	.B01,
	.B02,
	.B03,
	.B04,
	.B05,
	.B06,
	.B07,
	.B08{
		margin-left: 0;
		margin-right: 0;
	}
	.blog .box_little_bigger{
		margin-right: 1%;
		width: 45%;
		display: inline-block;
		margin-left: 2.7%;
		margin-bottom: 3%;
		background-position: center;
	}
	.blog .deit{
		font-size: 10px;
	}
	.blog .box_little_bigger p:nth-child(2){
		font-size: 20px;
		line-height: 35px;
	}
	@media screen and (max-width:426px){
		.blog .box_little_bigger{
			width: 90%;
			display: block;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			margin-bottom: 5%;
		}
		.blog .box_little_bigger p{
			text-align: center;
			padding-left: 0%;
			margin-left: auto;
			margin-right: auto;
			width: 80%;
			display: block;
		}
		.blog .hover_news{
			margin-left: auto;
			margin-right: auto;
			padding-left: 0;
		}
	}
}

/*/!!!!!!-----CONTACT_US_PAGE-----!!!!!!//////
//////////////////////////////////////////////////*/
.contact_us{
	background-color: #f6f6f9;
	padding-top: 8.5%;
	padding-bottom: 4%;
}

.contact_us .titel_02{
	font-size: 28px;
	font-weight: 600;
	letter-spacing: 1px;
}

/*/contact_01///////////////////////////////////////*/
.contact_01_box{
	display: flex;
	margin-top: 10%;
}

.contact_01_box_little{
	width: 33%;
}

.email_befor_01,
.add_befor_01,
.tel_befor_01{
	font-size: 16px;
	line-height: 28px;
	color: #3b3a52;
	font-weight: 500;
	text-align: center;
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.email_befor_01::before,
.add_befor_01::before,
.tel_befor_01::before{
	content: '';
	display: block;
	background-color: #f6f6f9;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 12%;
	position: relative;
	background-image: url(../img/contact_us/1.png);
	background-repeat: no-repeat;
	background-position: center;
}
.add_befor_01::before{
	background-image: url(../img/contact_us/2.png);
}
.tel_befor_01::before{
	background-image: url(../img/contact_us/3.png);
}

@media screen and (max-width:768px){
	.contact_us{
		padding-top: 15%;
	}
}
@media screen and (max-width:670px){
	.contact_01_box{
		flex-wrap: wrap;
		margin-left: auto;
		margin-right: auto;
	}
	.contact_01_box_little{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 7%;
	}
	.email_befor_01::before,
	.add_befor_01::before,
	.tel_befor_01::before{
		margin-bottom: 5%;
	}
	
	@media screen and (max-width:426px){
		.contact_us{
			padding-top: 20%;
			padding-bottom: 10%;
		}
	}
}
/*//iframe////////////////////////////////////////////*/
iframe{
	margin-top: 5.8%;
	width: 100%;
	height: 804px;
}
@media screen and (max-width:1440px){
	iframe{
		height: 700px;
	}
	@media screen and (max-width:1024px){
		iframe{
			height: 500px;
		}
	}
	@media screen and (max-width:768px){
		iframe{
			height: 400px;
		}
	}
}
/*/contact_02////////////////////////////////////////////////////////*/
.contact_02{
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding-bottom: 10%;
}

.contact_02_box{
	display: flex;
	flex-direction: column;
	width: 40%;
	margin-top: 15.7%;
}

.contact_title{
	font-size: 18px;
	letter-spacing: 2px;
	color: #070623;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 16%;
}

.contact_02_box_little{
	width: 100%;
	display: flex;
	align-items: flex-start;
	margin-bottom: 9.5%;
}

.contact_02_box_little img{
	margin-right: 7%;
}

.contact_02_box_little a, .add_before_02{
	font-size: 16px;
	line-height: 28px;
	color: #3b3a52;
	font-weight: 500;
	width: 50%;
}

.contact_forms{
	display: block;
	width: 40%;
	height: 520px;
	background-color: #f6f6f9;
	margin-top: 7%;
	border-radius: 6px;
}

.contact_forms .contact_title{
	text-align: center;
	padding-top: 11%;
	margin-bottom: 9.4%;
}

.name, .email, .contact_forms textarea, .contact_forms button{
	width: 69%;
	height: 57px;
	border-radius: 4px;
	border: 2px solid #c7c7cf;
	background: no-repeat;
	font-size: 14px;
	font-family:'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	letter-spacing: 0px;
	color: #3b3a52;
	font-weight: 500;
	font-family: 'Montserrat';
	padding-left: 15px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3%;
	outline: none;
	transition: .3s;
}

.name:hover, .email:hover, .contact_forms textarea:hover,:focus{
	border: 2px solid #3b3a52;
}
.contact_forms textarea:focus{
	border: 2px solid #3b3a52;
}
.contact_forms textarea{
	height: 81px;
	padding-top: 3.5%;
}

.contact_forms button{
	background-color: #3b3a52;
	color: #ffffff;
	border: 2px solid #3b3a52;
}
.contact_forms button:hover{
	background: none;
	color: #3b3a52;
}

input[type="checkbox"]{
	display: none;
}

label{
	color: #3b3a52;
	display: block;
	width: 55%;
	margin-left: 24%;
	margin-top: 5%;
	position: relative;
}

label::before{
	content: '';
	display: inline-block;
	width: 28px;
	height: 28px;
	background-color: #e8e8ec;
	position: absolute;
	top: -10%;
	margin-left: -15%;
	margin-right: 5%;
	border-radius: 4px;
	transition: background-color .2s linear;
}

input[type="checkbox"]:checked + label::before {
	background-color: #4cb677;
	background-image: url(../img/contact_us/check.png);
	background-repeat: no-repeat;
	background-position: center;
}

.green{
	color: #79c79a;
}
@media screen and (max-width:1024px){
	.contact_02{
		padding-right: 5%;
		padding-left: 5%;
	}
	.contact_02_box{
		width: 40%;
	}
	.contact_forms{
		width: 50%;
	}
	@media screen and (max-width:768px){
		label{
			margin-left: 28%;
		}
		label::before{
			margin-left: -22%;
		}
	}
	@media screen and (max-width:426px){
		.contact_02{
			padding-right: 0%;
			padding-left: 0%;
			width: 100%;
			flex-wrap: wrap;
		}
		.contact_forms{
			width: 90%;
			order: 1;
			margin-left: auto;
			margin-right: auto;
		}
		.contact_02_box{
			width: 100%;
			order: 2;
		}
		.contact_02_box_little img{
			margin-left: auto;

		}
		.contact_02_box_little a, .add_before_02{
			margin-right: auto;
		}
		.contact_title{
			text-align: center;
		}
		@media screen and (max-width:375px){
			label::before{
				margin-top: 5%;
			}
			.name, .email, .contact_forms textarea, .contact_forms button{
				margin-bottom: 6%;
			}
		}
		@media screen and (max-width:320px){
			label{
				margin-left: 31%;
			}
			label::before{
				margin-left: -28%;
			}
		}
	}
}


/*/!!!!!!-----POST-----!!!!!!//////
//////////////////////////////////////////////////*/
.prevyou{
	background-image: url(../img/post/1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #fff;
	font-weight: 600;
	text-align: center;
	padding-top: 18%;
	padding-bottom: 18%;
}

.prevyou p:first-child{
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.prevyou p:last-child{
	font-size: 56px;
	line-height: 80px;
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.7%;
}

@media screen and (max-width:768px){
	.prevyou p:last-child{
		font-size: 40px;
		line-height: 65px;
	}
	@media screen and (max-width:426px){
		.prevyou p:first-child{
			font-size: 9px;
		}
		.prevyou p:last-child{
			font-size: 30px;
			line-height: 45px;
			width: 90%;
		}
	}
}
/*//////////////////////////////////////*/
.post{
	font-size: 16px;
	line-height: 32px;
	color: #070623;
	font-weight: 400;
	padding-top: 2.8%;
}

.post p{
	width: 68%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 2.7%;
}

.post img:nth-child(3){
	margin-top: 3%;
	width: 100%;
	margin-bottom: 3.2%;
}

.img_fool{
	width: 100%;
	margin-top: 1%;
}

@media screen and (max-width:1024px){
	.post img:nth-child(3),
	.img_fool{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	.post p{
		width: 80%;
	}
	@media screen and (max-width:426px){
		.post{
			font-size: 13px;
			line-height: 28px;
		}
		.post p{
			width: 90%;
		}
	}
}

/*////////////////////////////////*/
.post_01 img:first-child{
	float: right;
	margin-right: 2.5%;
	margin-left: 4%;
	margin-bottom: 1%;
	margin-top: 8.5%;
	width: 43%;
	background-color: #ff4500;
}

.img_for_mob_{
	display: none;
}

.post_01 p{
	width: 68%;
	font-size: 16px;
	line-height: 32px;
	color: #070623;
	font-weight: 400;
	margin-bottom: 5.5%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.post_01 p:nth-child(2){
	margin-top: 13.5%;
}
.post_01 p:nth-child(3){
	margin-bottom: 3%;
}

@media screen and (max-width:1024px){
	.post_01 img:first-child{
		margin-right: 5%;
	}
	.post_01 p{
		width: 80%;
	}
	@media screen and (max-width:426px){
		.post_01 img:first-child{
			display: none;
		}
		.img_for_mob_{
			display: block;
			width: 90%;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 5%;
		}
		.post_01 p{
			font-size: 13px;
			line-height: 28px;
			width: 90%;
		}
	}
}
/*/Share//////////////////////////////////////*/
.Share{
	margin-top: .5%;
}

.Share p{
	margin-left: 16%;
	font-size: 12px;
	letter-spacing: 1px;
	color: #070623;
	font-weight: 600;
	text-transform: uppercase;
}

.Share_box{
	width: 70%;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.3%;
}

.Share_box a{
	background-color: #38559c;
	display: block;
	height: 45px;
	width: 17.8%;
	border-radius: 4px;
	margin-left: 1.8%;
}
.Share_box a:nth-child(2){
	background-color: #03a9f4;
}
.Share_box a:nth-child(3){
	background-color: #d32f2f;
}
.Share_box a:nth-child(4){
	background-color: #ff4500;
}
.Share_box a:nth-child(5){
	background-color: #0077b5;
}

.Share_box img{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 9%;
}

@media screen and (max-width:1024px){
	.Share_box{
		width: 83%;
	}
	.Share p{
		margin-left: 10%;
	}
	@media screen and (max-width:426px){
		.Share_box a{
			height: 35px;
		}
		.Share_box img{
			margin-top: 13%;
		}
		.Share_box{
			margin-top: 5%;
			margin-bottom: 8%;
		}
	}
}
/*/comments//////////////////////////////////*/
.comments{
	background-color: #f6f6f9;
	margin-top: 4%;
	margin-bottom: .5%;
	padding-bottom: 3%;
}

.comments_title{
	font-size: 18px;
	letter-spacing: 2px;
	color: #070623;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 4.5%;
	margin-left: 16%;
}

.comments_box, .comments_forms{
	width: 68%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4.5%;
	position: relative;
}

.comments_box img{
	position: absolute;
	left: 0;
	top: 0;
}

.comments_box p{
	margin-left: 12.7%;
}

.comments_name{
	font-size: 14px;
	color: #070623;
	font-weight: 600;
	padding-top: 1%;
	display: block;
}

.comment_date{
	font-size: 12px;
	letter-spacing: 1px;
	color: #3b3a52;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 1%;
}
.blue{
	color: #47859f;
	font-weight: 700;
	margin-left: 2.5%;
}

.comment_text{
	font-size: 16px;
	line-height: 32px;
	color: #070623;
	font-weight: 400;
	margin-top: 1%;
}

.comm_title_02{
	margin-top: 6.4%;
}

.comments_forms{
	margin-top: 2%;
}

.comments_forms textarea, .comments_forms input, .comments_forms button{
	background:none;
	border-radius: 4px;
	border: 2px solid #c7c7cf;
	outline: none;
	height: 57px;
	padding-left: 2.5%;
	font-size: 14px;
	letter-spacing: 0px;
	color: #3b3a52;
	font-weight: 500;
	transition: border .5s, color .5s linear;
}

.comments_forms textarea{
	height: 81px;
	width: 100%;
	padding-top: 3%;
	margin-bottom: 3.5%;
}

.comments_forms input{
	width: 33%;
	margin-right: 3%;
}

.comments_forms textarea:hover, .comments_forms input:hover,
.comments_forms textarea:focus, .comments_forms input:focus{
	border: 2px solid #3b3a52;
}

.comments_forms button{
	width: 26.5%;
	padding-left: 0;
	text-align: center;
	background-color: #3b3a52;
	color: #ffffff;
	border: 2px solid #3b3a52;
}
.comments_forms button:hover{
	background: none;
	color: #3b3a52;
	border: 2px #3b3a52 solid;
}

@media screen and (max-width:1024px){
	.comments_box, .comments_forms{
		width: 80%;
	}
	.comments_title{
		margin-left: 10%;
	}
	@media screen and (max-width:768px){
		.comments_box p{
			margin-left: 18%;
		}
	}
	@media screen and (max-width:426px){
		.comments_box{
			width: 90%;
		}
		.comments_box p{
			margin-left: 0;
		}
		.comments_box img{
			width: 15%;
		}
		.comments_name,
		.comment_date{
			padding-left: 20%;
		}
		.comment_text{
			margin-top: 8%;
			
			font-size: 13px;
			line-height: 28px;
		}
		.comm_title_02{
			margin-top: 15%;
		}
		.comments_forms{
			margin-top: 5%;
		}
		.comments_forms input, .comments_forms button{
			width: 100%;
			margin-bottom: 3.5%;
		}
	}
}

a:active, a:focus { outline: none; border: none; }
input, textarea { outline: none;  border: none; }
input:active, textarea:active {outline: none;  border: none; }
:focus {outline:none;  border: none; }
textarea {resize:none;  border: none; }
textarea {resize:vertical;  border: none; }
textarea {resize:horizontal;  border: none; }
button:active, button:focus {outline:none;  border: none; }
button::-moz-focus-inner {border: 0;  border: none; }